.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  border-radius: 50%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.background_1 {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #060606 50%, #A4A4A4 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.background_2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.background_3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, .8);
  border-radius: .25em;
  box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
  box-sizing: border-box;
  left: 25%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  padding: 5%;
  flex-direction: row;
}

.profile-section {
  width: 30%;
  background-color: rgba(255, 255, 255, .8);
  border-radius: .25em;
  box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
  height: 67vh;
  text-align: center;
  padding: 5vmin;
}

.link-section {
  width: 65%;
  height: 70vh;
  text-align: center;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.social-logo {
  height: 60%;
  width: 100px;
}

.link-section>* {
  margin-bottom: 5%;
}

.hyperlink {
  height: 15%;
  background-color: rgba(255, 255, 255, .8);
  border-radius: .25em;
  box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
  /* text-align:center; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2%;
  align-items: center;
}

.social-link {
  color: rgba(0, 0, 0, .9);
}

.hyperlink>* {
  margin-left: 2%;
}

h1 {
  font-family: monospace;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 2em;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1em;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    padding: 5%;
  }

  .profile-section {
    width: 100%;
    padding: 0%;
    padding-top: 5%;
  }

  .link-section {
    width: 100%;
    margin-top: 5%;
    margin-left: 0%;
  }

  .chip {
    height: 25px;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

.profile-text {
  font-weight: bold;
  font-size: medium;
}

.skills-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 5%;
}

.skills-section>* {
  margin-left: 2%;
  margin-top: 2%;
}


.chip {
  display: inline-flex;
  flex-direction: row;
  background-color: #a5a5a591;
  white-space: nowrap;
  align-items: center;
  border-radius: 15px;
  vertical-align: middle;
  justify-content: center;
  height: 30px;
  padding: 2%;
}

.chip-content {
  cursor: inherit;
  display: flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
}